@import "../variables.scss";

.footer {
  left: 0;
  bottom: 0;
  position: relative;
  margin-top: 1rem;
  width: 100%;
  background-color: $primary;
  color: $light;
  text-align: center;
  padding: 12px;
  box-shadow: 0 -5px 8px #00000030, 0 6px 6px #0000003b;

  h4 {
    margin: 0;
  }

  a {
    color: $light;
  }

  a:hover {
    background-color: #555;
    color: white;
    transition: 0.8s;
  }
}
