@import "../variables.scss";

.header {
  position: sticky;
  width: 100%;

  overflow: hidden;
  background-color: $primary;
  padding: 20px 10px;
  box-shadow: 0 10px 5px #00000010, 0 6px 6px #00000028;
  z-index: 10;

  a {
    float: left;
    color: $light;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  a:hover {
    background-color: darken($color: $secondary, $amount: 20);
    transition: 1s;
  }

  .header-right {
    float: right;
  }
}
