@import "../variables.scss";

.sidebar {
  width: $sidebar-width;
  background-color: $light;
  position: absolute;
  padding: 0;
  overflow: auto;
  
  text-align: center;
  height: 100%;

  a {
    display: block;
    color: $dark;
    padding: 16px;
    text-decoration: none;
  }

  a.active {
    background-color: $secondary;
    color: $light;
  }

  a:hover:not(.active) {
    color: $light;
    background-color: $dark;

    transition: 1s;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    a {
      float: left;
    }
  }
}
