.form-control {
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 17px;
  border: 1px solid $light-grey;
  border-radius: 2px;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

button {
  background-color: $tertiary;
  cursor: pointer;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  opacity: 1;
  transition: 0.3s;
  border-radius: 5px;

  &:hover {
    opacity: 0.6;
  }
}
