@import "../variables.scss";

.tabs {
  overflow: hidden;
  border: 1px solid $light-grey;
  background-color: $light;
  color: $dark;
  border-radius: 10px;
  
  .tab-btns {
    button {
      width: 50%;
      background-color: inherit;
      color: $dark;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.5s;
      font-size: 1rem;
    }

    button:hover {
      background-color: $dark;
      color: $light;
    }

    button.active {
      background-color: $secondary;
    }
  }

  .tab-content {
    padding: 1rem 20px;
    border: 1px solid $light-grey;
  }
}
