/* 
palette: https://colorhunt.co/palette/206727
*/

// Colors
$primary: #00587a;
$secondary: #008891;
$tertiary: #0f3057;

$light: #e7e7de;
$light-grey: #ccc;
$dark: #051931;


// Layout
$sidebar-width: 220px;